@{
    ViewData["Title"] = "Indice";
}
@{
    Layout = "_Layout";
}

<h1>Indice</h1>

<h2> Cat&aacute;logos</h2> <br/>
<a asp-area="Facturacion" asp-controller="EmpresasPage" asp-action="Index">Empresas</a>
<br />
<a asp-area="Facturacion" asp-controller="SeriesPage" asp-action="Index">Series</a>
<br />
<a asp-area="Facturacion" asp-controller="CatProdServPage" asp-action="Index">Productos / Servicios </a>
<br />
<a asp-area="Facturacion" asp-controller="ClientesPage" asp-action="Index">Clientes</a>