@using DevExtreme.AspNet.Mvc;
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Catalogo de Series";
}

@(Html.DevExtreme().SelectBox()
        .DataSource(ds=> ds.Mvc()
        .Controller("Empresas")
        .LoadAction("GetResume")
        .Key("Pk_Empresa")
        )
        .Placeholder("Seleccione la Empresa")
        .DisplayExpr("Denominacion")
        .OnValueChanged(@<text>
        function (data){
            var dGrid = $("#DGSeries").dxDataGrid("instance");
            //if (data.value=="" || data.value == null)
                dGrid.filter (["Pk_Empresa","=",data.value.Pk_Empresa]);
            }
        </text>)
)
<h2>Series</h2>

@(Html.DevExtreme().DataGrid<SistFacturacion.Areas.Facturacion.Controllers.SeriesViewModel>()
    .ID("DGSeries")
        .DataSource(ds => ds.Mvc()
        .Controller("Series")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Pk_Serie")
        )
    //.FilterValue(new object[] { new Object[] {"Pk_Empresa","=",0 } })
    .RemoteOperations(true)
    .NoDataText("Seleccione una empresa para ver sus series.")
    .Columns(columns => {

        columns.AddFor(m => m.Pk_Serie);

       // columns.AddFor(m => m.Pk_Empresa);
       columns.Add()
        .DataField("Pk_Empresa")
        .Visible(false);
        columns.AddFor(m => m.Serie);

        columns.AddFor(m => m.Folio);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Mode(GridEditMode.Popup)
    )
)
